@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

.navigation {
  background-color: white;
}
.mainPagePic {
  height: 768px;
  background:
  linear-gradient(
    rgba(245, 171, 53, .70),
    rgba(245, 171, 53, .70)
    ),
    url(../images/light-bulb-frame.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.mainDescriptionTitle {
  background-color: white;
  height: 100px;
  text-align: center;
}
.mainDescriptionInfo {
  background-color: teal;
  height: 200px;
}
.mainServicesTitle {
  background-color: red;
  height: 100px;
  text-align: center;
}
.busDevPic {
  background-color: #496eaa;
  height: 50px;
  float: left;
  width: 25%;
}
.busDevInfo {
  background-color: #204e99;
  height: 50px;
  float: right;
  width: 75%;
}
.mktInfo {
  background-color: #48a846;
  height: 50px;
  float: left;
  width: 75%;
}
.mktPic {
  background-color: #347c33;
  height: 50px;
  float: right;
  width: 25%;
}
.creativePic {
  background-color: #edba3b;
  height: 50px;
  float: left;
  width: 25%;
}
.creativeInfo {
  background-color: #af8928;
  height: 50px;
  float: right;
  width: 75%;
}
.marginSpace {
  margin: 10px 10px 10px 10px;
}
.firstLink {
  float: left;
  width: 40%;
}
.logo {
  height: 100px;
}
.navBar {
  list-style: none;
  height: 100px;
}
.linkHeader {
  display: inline-block;
  width: 10%;
  float: right;
}
